.parent > div{
            background-color:#008000;
            width: 100px;
            margin: 10px;
            text-align: center;
            font-size: 30px;
            line-height: 75px;

}
.parent{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    align-items: stretch;
}
#five{
    flex-shrink: 3;
}